:root {
    --myFont: 'Raleway', sans-serif;
    --newBook-background: linear-gradient(to top, #551b55, #19196b);
    --btn-background: rgb(49, 116, 240);
    --library-background: #3f4658;
    --form-background: #fff;
    --card-background: rgb(71, 12, 71);
    --primaryFontColor: #fff;
    --cardBtn-background: #353434;
    --header-background: linear-gradient(to right, #808080, #000000);
}

/* setting the layout of the website */
body {
    font-family: var(--myFont);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: "header header header"
    "library library library";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 4fr;
}


/* HEADER STYLING STARTS HERE */

/* Edit layout of the header & declaring the grid area*/
.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background: var(--header-background);


    border: 1px black solid;
}

/* title styling */
.title {
    font-size: 4rem;
    font-style: italic;
}

/* new book btn styling */
.book {
    padding: 1rem;
    height: 50px;
    width: 200px;
    color: #e0c3c3;
    font-size: 1rem;
    font-weight: 700;
    background: var(--newBook-background);
}


/* FORM STYLING STARTS HERE */

/* having from container be invisible until someone presses the
 new book btn */
.form-container {
    height: 35vh;
    width: 25vw;
    padding: 1rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--form-background);
    border: 1px black solid;
    visibility: hidden;  /* change later to hidden */

}

.form-container > form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
}

.author-container, .title-container, .pages-container, .read-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-btns {
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: space-evenly;
    padding: 8px;
    margin-top: 0.5rem;
}


/* LIBRARY STYLING STARTS HERE */

/* declaring grid area */
.library {
    grid-area: library;
    padding: 2rem;
    display: grid;
    grid-auto-columns: 300px;
    grid-auto-rows: 300px;
    /* repeat as many columns as can fit in the space (.library), with a size of 300px min or 1fr max */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    background: var(--header-background);
    gap: 6rem;
    
}

/* card are created and set in js */
.card {
    background: var(--card-background);
    color: var(--primaryFontColor);
    height: 300px;
    width: 300px;
    border-radius: 25px;
    padding: 1.5rem;
    border: 1px black solid;
}

/* both button is created in js */
.readBtn, .cardBtn {
    display: block;
    margin: 32px 0 10px 5px;
    height: 30px;
    width: 100px;
    font-size: 1rem;
    background-color: var(--cardBtn-background);
    color: var(--primaryFontColor);

}

